{% extends "mailing_creation/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header h1">{{ newsletter_message.theme }}</div>
        <div class="row g-0">
            <div class="col-md-4 border-right">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Создано: {{ newsletter.creation_date }}</small></p>
                    <p class="card-text"><small class="text-muted">Отправка: {{ newsletter.delivery_time }}</small></p>
                    <p class="card-text"><small class="text-muted">Создатель: {{ newsletter.creator }}</small></p>
                    <p class="card-text"><small
                            class="text-muted">Получатели: {{ newsletter.recipients|join:", " }}</small></p>
                </div>
            </div>
            <div class="col">
                <div class="card-body ">
                    <p class="card-text">{{ newsletter_message.body }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}